@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0d9488; /* Scrollbar color (Teal) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f766e; /* Darker teal on hover */
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('/src/utils/bg.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; 
}

.App{
    width: 100vw;
    height: auto;
    background-color: #0f2b3473;
    z-index: 10;
}

@keyframes moveInputToTop {
  0% {
    top: 50%; /* Default Position */
    transform: translateY(-50%);
  }
  100% {
    top: 20px; /* Default Final Position */
    transform: translateY(0);
  }
}

/* Move to 60px for small screens */
@media (max-width: 768px) {
  @keyframes moveInputToTop {
    0% {
      top: 40%;
      transform: translateY(-50%);
    }
    100% {
      top: 48px; /* Move Higher on Small Screens */
      transform: translateY(0);
    }
  }
}

@keyframes resetInputPosition {
  0% {
    top: 20px;
    transform: translateY(0);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Reset position for small screens */
@media (max-width: 768px) {
  @keyframes resetInputPosition {
    0% {
      top: 48px;
      transform: translateY(0);
    }
    100% {
      top: 40%;
      transform: translateY(-50%);
    }
  }
}

.input-transition {
  position: absolute;
  transition: all 1s ease-in-out;
}

.move-up {
  animation: moveInputToTop 1s forwards;
}

.move-down {
  animation: resetInputPosition 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}
